{% extends 'website/courseviewpage.html' %} 
{% block head %}
<style>
  .hide {
    display: none !important;
  }

  .show {
    display: block !important;
  }

  .quesForm {
    width: 81vw;
    height: 80vh;
    position: fixed;
    top: 50%;
    left: 50%;
    border: 5px solid #008cba;
    transform: translate(-50%, -50%);
    background-color: rgb(255 255 255 / 100%);
    z-index: 9999;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
  }

  .quesBox p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .quesBox input[type="radio"] {
    margin-right: 10px;
  }

  .quesBox button[type="submit"] {
    padding: 10px;
    background-color: #008cba;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    text-align: center;
  }

  .loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
    display: inline-block;
    margin: 20px auto;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
</style>
{% endblock %}

{% block coursecontent %}
<div class="video-player" style="display:flex; justify-content:center; padding:15px 10px">
  <video
    src="{{ video.video.url }}"
    type="{{ video.video.content_type }}"
    id="vid"
    width="640"
    height="360"
    controls
  >
    Your browser does not support the video tag.
  </video>

  {% if questions %}
  <form class="hide quesForm" id="ques" action={% url 'submit_quiz' %} method="POST" data-quiz-id="{{ quiz.id }}" >
    <h1 style="text-align:center">Quiz Time!</h1>  
    {% csrf_token %} 
    {% for question in questions %}
    <div class="quesBox" name="{{question.id}}[]">
      <p style="align-items:left;">Question. {{ question.text }}</p>
      {% for answer in question.answer_set.all %}
      <input
        type="radio"
        name="{{ question.id }}[]"
        value="{{ answer.id }}"
      />{{ answer.text }} {% endfor %}
    </div>
    {% endfor %}
    <br>
    <br>
    <button id="sub" type="submit" class="submit-btn button button-primary" style="position:absolute; left:auto; right:50%">Submit</button>
  </form>
  <div class="loader hide" id="loader"></div>
  <div class="results hide" id="results">
    <h2>Quiz Results</h2>
    {% if quiz %}
      <p>Passing Score: {{ quiz.pass_mark }}</p>
      <p id="quizScore"></p>
      {% if passed %}
        <p>You passed the quiz!</p>
      {% else %}
        <p>You did not pass the quiz.</p>
      {% endif %}
    {% else %}
      <p>No quiz for this video.</p>
    {% endif %}
  </div>
  {% endif %}
</div>
{% endblock %}

{% block scriptjs %}
<script>
  var start_time = 0;
  console.log({{ quiz|length }})
  {% if quiz %}
  {% comment %} start_time = "{{ quiz.start_time }}"; {% endcomment %}
  console.log("quiz exists");
 {% endif %}
  console.log(start_time);
  console.log(typeof (start_time))
  var vid = document.getElementById("vid");
  var ques = document.getElementById("ques");
  var sub = document.getElementById("sub");
  var results = document.getElementById("results");

  function playVid() {
    vid.play();
  }

  function pauseVid() {
    vid.pause();
  }
  var pausing_function = function (){
    if (this.currentTime >= start_time){
      this.pause();
      ques.classList.add("show");
      ques.classList.remove("hide");
      this.removeEventListener("timeupdate", pausing_function);
    }
  }; 
  vid.addEventListener("timeupdate", pausing_function);
  
  async function retrieveFormData() {
    const formData = new FormData();
    const form = document.querySelector('.quesForm');
    formData.quiz_id = form.dataset.quizId;
    formData.selected_answers = [];
    formData.question_ids = [];

    const answerRadios = form.querySelectorAll('input[type="radio"]:checked');
    answerRadios.forEach(radio => {
      if(radio.value == null || radio.value == undefined || radio.value == ""){
        formData.append('selected_answers[]', "0");  
      }
      else 
        formData.append('selected_answers[]', radio.value);
      formData.append('question_ids', radio.name);
    });
  
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
  
    await fetch(form.action, {
      method: 'POST',
      body: formData,
      headers: {
        'X-CSRFToken': csrftoken
      },
    })
    .then(response => response.json())
    .then(data => {
      form.classList.add('hide');
      form.classList.remove('show');
      console.log(data);
      document.getElementById("quizScore").innerHTML = "Score: " + data.score ;
      {% comment %} results.classList.add('show');
      results.classList.remove('hide'); {% endcomment %}
      alert("Score: " + data.score);
      console.log('Retrieved response:', data);
    })
  
    console.log('Retrieved form data:', formData);
  }
  
  const form = document.querySelector('.quesForm');
  form.addEventListener('submit', (event) => {
    event.preventDefault();
    retrieveFormData();
  });
    function displayToast(data) {
    const toastContainer = document.createElement('div');
    toastContainer.classList.add('toast-container');
    const toast = document.createElement('div');
    toast.classList.add('toast');
    if (data.passed) {
      toast.innerText = 'Congratulations! You passed the quiz.';
      toast.classList.add('success');
    } else {
      toast.innerText = 'Sorry, you did not pass the quiz.';
      toast.classList.add('error');
    }
    toastContainer.appendChild(toast);
    document.body.appendChild(toastContainer);
    
    setTimeout(() => {
      toastContainer.remove();
    }, 5000);
  }
</script>
{% endblock %}
